# Common dependencies
-r requirements-common.txt

# Dependencies for x86_64 CPUs

# skip torch 2.3.1 since we already installed 2.4.0 for ww23 ipex-cpu
# torch == 2.3.1+cpu

triton >= 2.2.0  # FIXME(woosuk): This is a hack to avoid import error.